html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.mobile-preview {
  display: none;
}

header {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.logo {
  max-width: 80px; 
  height: auto;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 50px;
  box-sizing: border-box;
  width: 100%;
}

.title {
  width: 50%; /* De titel neemt de helft van het scherm in */
  padding-left: 100px;
  padding-right: 64px;
}

.title h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
  margin-top: 100px;
}

.highlight {
  color: var(--Volair, #62C3C7);
}

p {
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  margin-top: 28px;
  color: #555;
}

.image-container {
  width: 50%; /* De afbeelding neemt de andere helft van het scherm in */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 600p; /* Pas de hoogte aan afhankelijk van de afbeelding */
  padding-right: 300px;
}

.image-stack {
  position: relative;
  height: 100%;
  width: 100%;
}

.image {
  position: absolute;
  left: 0;
  object-fit: cover; /* Zorgt ervoor dat de afbeeldingen het volledige vlak vullen */
}

.top {
  z-index: 3;
  margin-top: -220px;
  margin-left: 150px;
  height: 650px

}


.bottom {
  z-index: 1;
  margin-top: -80px;
}


.download-btn {
  background-color:#FFAE00;
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 50px; 
  font-size: 16px; 
  font-weight: 600;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  margin-top: 100px;
}

.download-btn:hover {
  background-color: #EBA000; 
}

.features {
  text-align: center; 
  padding: 200px 50px; 
}

.features-title {
  font-size: 40px; 
  font-weight: 600; 
  color: var(--Volair, #62C3C7);
  margin-bottom: 20px; 
  padding-top: 200px;
}

.features-description {
  font-size: 28px; 
  color: #555; 
  line-height: 32px; 
  margin: 0 auto; 
  max-width: 600px; 
  padding-bottom: 50px;
}

.features-list {
  display: flex;
  justify-content: space-between; 
  gap: 10px; 
}

/* Feature-item stijl */
.feature-item {
  text-align: center;
  flex: 1; 
  padding: 80px;
}

.feature-icon {
  width: 50px; 
  height: auto;
  margin-bottom: 2px; 
}

.feature-text {
  font-size: 20px;
  font-weight: 600;
  color: #555;
  line-height: 1.5;
}

.how-to-use {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 100px;
}

.how-to-use-left {
  flex: 1;
  display: flex;
  justify-content: center; /* Centreer de afbeeldingen horizontaal */
  position: relative;
}

.image-stack {
  position: relative;
  width: 80%; /* Breedte van de afbeeldingen stack */
  max-width: 400px; /* Maximale breedte */
}

.stacked-img {
  position: absolute;
  width: 70%;
  border-radius: 55px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bottom-image {
  z-index: 1;
}

.top-image {
  top: 80px;
  left: 180px;
  z-index: 2;
}

/* Rechterkant: Titel en Stappen */
.how-to-use-right {
  flex: 1;
  text-align: left;
  padding-top: 80px;
}

.how-to-use-title {
  font-size: 40px;
  font-weight: 600;
  color: var(--Volair, #62C3C7);
  margin-bottom: 62px;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-right: 10px;
}

.step-icon {
  width: 50px;
  height: auto;
  margin-right: 15px;
}

.step-text {
  font-size: 24px;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
  margin-top: 0;
}


/* Stijl voor de reviews sectie */
.reviews {
  margin: 40px;
  margin-bottom: 100px;
}

/* Titel van de reviews sectie */
.reviews-title {
  font-size: 40px; 
  font-weight: 600; 
  color: var(--Volair, #62C3C7);
  margin-left: 64px;
  margin-top: 200px;
  margin-bottom: 20px;
}

/* Container voor de review-afbeeldingen */
.reviews-list {
  display: flex;  /* Flexbox voor horizontale plaatsing */
  flex-wrap: wrap;  /* Zorgt ervoor dat de items in de volgende rij vallen wanneer nodig */
  justify-content: center;  /* Centraal uitlijnen */
}

/* Elke review-item */
.review-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -50px;
  margin-left: -50px;
}

/* Stijl voor de review-afbeeldingen */
.review-img {
  width: 100%;

  max-width: 450px;  /* Vergroot de afbeeldingen */
  height: auto;
  object-fit: contain;
}

/* Stijl voor het Call-to-Action blok */
.cta-block {
  margin-top: 400px;
  margin-bottom: 200px;
  height: 500px;
  background-color: white;  /* Achtergrond wit */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 -4px 10px rgba(0, 0, 0, 0.1);  /* Zachte schaduw boven en onder */
  position: relative; /* Zorgt ervoor dat we de afbeelding buiten het kader kunnen plaatsen */
}

/* Binnenste content van het blok */
.cta-content {
  display: flex;
  align-items: center;
  gap: 200px; /* Voeg ruimte tussen de afbeelding en tekst */
}

/* Afbeelding aan de linkerzijde */
.cta-image img {
  max-width: 300px;
  height: auto;
  position: relative;
  top: -150px;  /* Zet de afbeelding omhoog zodat deze boven het blok uitsteekt */
  margin-left: 400px;
}

/* Tekst aan de rechterzijde */
.cta-text {
  max-width: 600px;
  margin-bottom: 150px;
  margin-left: 20px; /* Zorgt voor een kleine ruimte tussen de tekst en afbeelding */
}

/* Titel */
.cta-text h2 {
  font-size: 58px;
  color: #333;
  margin-bottom: 15px;
}

/* Subtekst */
.cta-text p {
  font-size: 24px;
  color: #666;
  margin-bottom: 25px;
}


.download-buttons {
  display: flex;
  gap: 20px; /* Ruimte tussen de knoppen */
  margin-top: 20px;
}

.store-button {
  width: 130px; /* Breedte van de knoppen */
  height: auto; /* Zorg dat de hoogte proportioneel blijft */
  cursor: pointer; /* Maak duidelijk dat het klikbaar is */
  transition: transform 0.2s ease;
}

.store-button:hover {
  transform: scale(1.05); /* Klein inzoom-effect bij hover */
}

/* Stijl voor de About Me sectie */
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  padding-bottom: 180px;
}

h3 {
  font-size: 58px;
  color: #333;
  margin-bottom: 15px;
}

.about-me-text .name {
  font-weight: bold; /* Maak de naam vetgedrukt */
  color: var(--Volair, #62C3C7);; /* Pas deze kleur aan naar de gewenste kleur */
}

.about-me-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  gap: 20px; /* Ruimte tussen de afbeelding en tekst */
}

.about-me-image {
  flex: 1; /* De afbeelding neemt 1 deel van de ruimte */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-image img {
  max-width: 80%;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Voeg een subtiele schaduw toe */
}

.about-me-text {
  flex: 1; /* De tekst neemt 1 deel van de ruimte */
  padding: 20px;
}


.about-me-text p {
  font-size: 20px;
  color: #555;
  line-height: 1.6;
}

/* Normale link */
a {
  color: #62C3C7;
  text-decoration: none;
  font-weight: bold;
}

/* Link bij hover */
a:hover {
  color: #EBA000;
  text-decoration: underline;
}


/* Algemene stijl */


.site-footer {
  background-color: #1a1a1a; /* Donkergrijs */
  color: #f2f2f2;
  padding-left: 100px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 400px;
}

.footer-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 250px;
}

.footer-about,
.footer-links,
.footer-contact {
  flex: 1 1 250px;
}

h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-about p {
  font-size: 16px;
  line-height: 1.6;
  color: #b6b6b6;
}

.footer-links ul {
  list-style: none;
  padding: 4px;
  font-size: 16px;
  font-weight: 500;
}

.footer-links ul li {
  margin-bottom: 16px;
}

.footer-links ul li a {
  color: #f2f2f2;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #62C3C7; /* Accentkleur */
}

.footer-contact label {
  font-size: 14px;
  color: rgb(159, 159, 159);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 14px;
}

.contact-form .submit-btn {
  background-color: #62C3C7;
  width: 100%;
  max-width: 300px;
  color: rgb(39, 39, 39);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-form .submit-btn:hover {
  transform: scale(1.02);
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  color: #b6b6b6;
}



























/* Definieer de animatie voor het vliegtuigje dat van links komt */
@keyframes fly-in-left {
  0% {
    transform: translateX(-100vw);  /* Begin buiten het scherm aan de linkerzijde */
  }
  100% {
    transform: translateX(0);  /* Beweeg naar zijn normale positie */
  }
}

/* Specifieke stijlen voor de middle afbeelding */
.middle {
  position: absolute;  /* Zorg ervoor dat de afbeelding kan bewegen */
  z-index: 2;
  width: 40%;
  margin-top: 80px;
  margin-left: 400px;  /* De eindpositie waar het vliegtuigje moet landen */
  animation: fly-in-left 2s ease-out forwards;  /* Start de animatie van links */
}

.middle img {
  width: 100%;
  max-width: 300px;  /* Pas de grootte van de afbeelding aan */
  object-fit: contain;
}

/* Voor tablets en kleine schermen (max. breedte 768px) */
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }

  .mobile-preview {
    display: block;
    max-width: 50%; /* Volledige breedte van het scherm */
    height: auto;
    margin: 30px auto; /* Centraal uitlijnen */
  }

  .content {
    flex-direction: column; /* Zet elementen onder elkaar */
    align-items: center; /* Centreer inhoud */
    padding: 20px; /* Voeg wat ruimte toe aan de zijkanten */
    padding-top: 60px;
  }

  .title {
    width: 100%; /* Neem de volledige breedte in */
    padding: 0px; /* Voeg wat ruimte toe aan de zijkanten */
    text-align: center; /* Maak tekst gecentreerd */
  }

  .title h1 {
    font-size: 40px; /* Verminder lettergrootte */
    line-height: 1.2; /* Maak tekst compacter */
    margin-top: 2px;
  }

  .download-btn {
    margin-top: 50px;
  }

  .image-container {
    display: none;
  }

  /* Stel de .top afbeelding in */
  .top {
    display: none;
  }

  /* Stel de .middle afbeelding in */
  .middle {
    display: none;
  }

  /* Stel de .bottom afbeelding in */
  .bottom {
    display: none;
  }

  .features {
    padding: 30px;
  }

  .features-title {
    padding-top: 20px;
  }

  .features-list {
    flex-direction: column; /* Zet items onder elkaar */
    gap: 30px;
  }

  .features-description {
    font-size: 22px;
  }

  .feature-item {
    padding: 20px;
  }

  .feature-text {
    font-size: 16px;
  }

  .placeholder-img {
    display: none;
  }

  .reviews-title {
    font-size: 30px;
    padding-bottom: 20px;
  }


  .image-stack {
    max-width: 400px; /* Verklein de stack */
  }

  .bottom-image {
    top: 10px;
    left: 10px;
  }


  .how-to-use-right {
    padding-top: 20px;
  }

  .how-to-use {
    flex-direction: column;
    padding: 30px;
  }

  .how-to-use p {
    font-size: 20px;
  }

  .how-to-use-left {
    margin-bottom: 20px;
  }

  .how-to-use-title {
    text-align: center;
    font-size: 30px;
  }

  .step-text {
    margin-top: 0;
  }

  .step {
    margin-bottom: 40px;
  }

  .reviews-img {
    padding-bottom: 20px;
  }

  .reviews-title {
    margin:auto;
    text-align: center;
  }

  .cta-image img {
    display: none;
}

/* Subtekst */
.cta-text p {
  font-size: 24px;
  color: #666;
  margin-bottom: 25px;
}

.cta-text {
  padding: 15px;
  margin: auto;
  text-align: center;
}

.cta-text h2 {
  padding-top: 50px ;
  font-size: 40px;
}

.cta-content {
  text-align: center;
  display: block;
  
}

.cta-block {
  margin: auto;
  text-align: center;
  height: 400px;
}

.download-buttons {
  justify-content: center;
}


  .about-me-container {
    flex-direction: column; /* Zet afbeelding en tekst onder elkaar */
    align-items: center;
    padding-bottom: 60px;
  }

  .about-me-image {
    margin-bottom: 20px; /* Voeg wat ruimte toe onder de afbeelding */
  }

  .about-me-text {
    text-align: center; /* Centreer de tekst */
  }
  
  .cta-block {
    margin-bottom: 100px;  /* Zorg ervoor dat de cta-block ruimte onderaan laat voor de footer */
  }

  .site-footer {
    background-color: #1a1a1a; /* Donkergrijs */
    color: #f2f2f2;
    padding-left: 40px;
    padding-top: 40px;
  }

}